<html>
  <head>
    <title>Sample "Hello, World" Application</title>
  </head>
  <body bgcolor=white>
    <table border="0" cellpadding="10">
      <tr>
        <td>
          <h1>"Hello, World"</h1>
          <ul>
          {% for event in events %}
          <button id="event_geoloc"> <li>{{event.place}} : {{event.geotag}}</li> </button>
          {% endfor %}
          </ul>
        </td>
      </tr>
    </table>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

<script type="text/javascript">
    $(function(){ // I use jQuery in this example
      document.getElementById('event_geoloc').onclick = function() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else {
            alert('Geolocation is not supported by this browser.');
          };
        };
    });
    function showPosition(position) {
      alert('Latitude: ' + position.coords.latitude +
            '<br>Longitude: ' + position.coords.longitude);
    };
</script>
</html>
